section img{
    padding: 30px;
    width: 400px;
    background-image: url(../img/pattern.png);
    background-color: rgb(7, 159, 230);
    padding-right: 100%;
    margin-top: -8px;
    margin-left: -10px;
}


h1{
    font-size: 70px;
    margin-bottom: -30px;
    margin-top: 0px;
}
h2{
    color: grey;
}
h3{
    color: grey;
    margin-top: -20px;
}

